.form-group{
	width:100%;
}

.form-control{
	width:100%;
	text-align: center;
}

#border{
border-color: #000000;
border-radius: 0px;
border-style: solid;
border-width: 1px;
}
.score{
	max-width: 100%;
	text-align: right;
}
.skills{
	float: left;
	text-align: left;
}
